.table > thead > tr > th{
	background-color: #BEBFC3;
	color: #fff;
}

.fixed-table-container thead th .th-inner,
.fixed-table-container tbody td .th-inner {
	white-space: unset;
}
td.fix {
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.error {
	color: red;
}

.form-common {
    width: 10%;
    height: 32px;
    padding: 6px 12px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #555555;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #e4e4e4;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.select{
	width: 57%;
    height: 32px;
    padding: 6px 12px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #555555;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #e4e4e4;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.text{
	width: 30%;
    height: 32px;
    padding: 6px 12px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #555555;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #e4e4e4;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.textarea{
	width: 50%;
    height: 30%;
    padding: 6px 12px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #555555;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #e4e4e4;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.hf{
	width: 45%;
    height: 30%;
    padding: 6px 12px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #555555;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #e4e4e4;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.black{
	width: 42%;
    height: 30%;
    padding: 6px 12px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #555555;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #e4e4e4;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.topis{width: 100%;height: 7.5%;background-image:url('../images/light_bag_03.jpg');background-size: 100% 100%;}
/* .auusd{ background-image:url(./images/light_bei.jpg);background-repeat:no-repeat; background-size: 100% 100%;} */ 
.page{
	
}

.out_a{
	
}


/** œ‘ æ ±º‰ */
.clock{width:200px;padding:10px;color:#fff;float: right;}
.clock #Date{font-family:'BebasNeueRegular', Arial, Helvetica, sans-serif;font-size:18px;text-align:center;text-shadow:0 0 5px #00c6ff;}
.clock ul{width:200px;margin:0 auto;padding:0px;list-style:none;text-align:center;}
.clock ul li{display:inline;font-size:18px;text-align:center;font-family:'BebasNeueRegular', Arial, Helvetica, sans-serif;text-shadow:0 0 5px #00c6ff;}
#point{position:relative;-moz-animation:mymove 1s ease infinite;-webkit-animation:mymove 1s ease infinite;padding-left:10px;padding-right:10px;}
@-webkit-keyframes mymove{
	0%{opacity:1.0;text-shadow:0 0 20px #00c6ff;}
	50%{opacity:0;text-shadow:none;}
	100%{opacity:1.0;text-shadow:0 0 20px #00c6ff;}	
}


@-moz-keyframes mymove{
	0%{opacity:1.0;text-shadow:0 0 20px #00c6ff;}
	50%{opacity:0;text-shadow:none;}
	100%{opacity:1.0;text-shadow:0 0 20px #00c6ff;}	
}
